@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: #7eaac4;
  color: white;
	font-family: "Overpass Mono", monospace;
}

.fill {
  position: absolute;
  inset: 0;
}

.drawing-area-container {
  position: absolute;
  inset: 200px 60px 60px;
}

canvas {
  background: #fafafa;
	z-index: 1000;
}

#timer-container {
  width: 90px;
  height: 90px;
  position: absolute;
  right: 25px;
  top: 10px;
}

.top-ui {
  height: 100px;
  position: absolute;
  top: 60px;
  left: 60px;
  right: 60px;
  background: #333;
  padding: 10px 25px;
}

input[type=button] {
	height: 60px;
	font-size: 20px;
  border-radius: 0;
  border: none;
}

#start-button {
  width: 80px;
	vertical-align: top;
	margin-top: 20px;
	margin-right: 20px;
}

.progressbar-text {
  color: white;
  position: absolute;
  top: 20px;
  left: 35px;
  font-size: 40px;
  font-family: monospace;
}

.round-counter-text {
  color: white;
  font-size: 40px;
  font-family: monospace;
}

.display-none {
  display: none;
}

.instructions-text {
  display: inline-block;
	vertical-align: top;
	margin-top: 10px;
}

.round-counter, .points-counter {
	display: absolute;
	font-size: 40px;
	font-family: monospace;
}

#gallery {
	position: absolute;
	inset: 0;
	background: #efefef;
	padding: 20px 40px;
	overflow-y: scroll;
}

#gallery img {
	max-width: 400px;
	max-height: 400px;
	width: auto;
	height: auto;
}

.gallery-heading {
	text-align: center;
	font-size: 40px;
	height: 70px;
	color: black;
}

.gallery-img-container {
	max-width: 400px;
	display: block;
	font-size: 20px;
	display: inline-block;
	margin-right: 30px;
}
.gallery-img-heading {
	background: black;
}

.rainbow-text-animated {
    text-align: center;
    text-decoration: underline;
		font-weight: 900;
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s linear infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.inline-block {
	display: inline-block;
}

#restart-button {
  width: 120px;
  position: absolute;
  right: 25px;
  top: 30px;
}

.subtitle-shadowbox {
	background: rgba(0,0,0,0.3);
	position: absolute;
	bottom: 0;
	font-size: 30px;
	left: 50%;
	bottom: 10px;
	transform: translate3d(-50%, 0, 0);
	padding: 20px;
	pointer-events: none;
	margin: none;
}

.art-genius-banner {
	color: black;
	font-size: 80px;
	position: absolute;
	text-decoration: underline;
	top: 0;
	left: 50%;
	transform: translate3d(-50%, 0, 0);
}